:root {
    --white: #fefefe;
    --gray: #ddd;
    --point-color: #13aeff;

}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    padding: 6px 12px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    padding: 6px 12px;
    margin-left: 12px;
}

header > i {
    color: var(--point-color);
    font-size: 24px;
}

header .searchBar {
    background-color:var(--gray);
    border-style: none;
    border-radius: 12px;
    width: 800px;
    margin-left: 24px;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

header .searchBar::placeholder {
    padding: 18px;
}

header .searchBar:focus {
    outline: none;
}

header .header_signBtn {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    justify-content: flex-end;
}

.signBtn_signIn {
    border: 1px solid var(--point-color);
    border-radius: 12px;
    width: 70px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: var(--point-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signBtn_signIn:hover {
    color: var(--white);
    background-color: var(--point-color);
    border: 1px solid var(--point-color);
    cursor: pointer;
}

.signBtn_signUp {
    background-color: var(--point-color);
    border: 1px solid var(--point-color);
    border-radius: 12px;
    width: 90px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.signBtn_signUp:hover {
    background-color: blue;
    border: 1px solid blue;
    color: var(--white);
    cursor: pointer;
}

.header_signBtn i {
    color: var(--point-color);
    margin-left: 16px;
    font-size: 18px;
}

.header_signBtn i:hover {
    color: blue;
    cursor: pointer;
}

main {
    display: flex;
}

section {
    margin: 0 12px;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    min-width: 512px;
    height: auto;
}

section .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

section .title span {
    font-weight: 600;
    font-size: 18px;
}

section .title i {
    color: var(--point-color);
}

section .advertise {
    width: 100%;
    height: auto;
    background: url("spring.jpg");;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section .advertise img {
    width: 100%;
    visibility: hidden;
}

section .advertise .advertise_title {
    padding: 12px;
}

.advertise_title span {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
}

.advertise_title .title {
    font-size: 1.4rem;
    padding: 0;
}

section .article {
    padding: 6px 0;
    margin-top: 12px;
    border: 1px solid var(--gray);
}

section .article .article_title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--gray);
}

section .article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul .article_contentBox {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    border-bottom: 1px solid var(--gray);
}

ul .article_contentBox .trend {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trend .country {
    font-size: 0.8rem;
    color: gray;
}

.trend .username {
    font-weight: 600;
}

.trend .twit_num {
    font-size: 0.8rem;
    color: gray;
    font-weight: 600;
}

.article .more {
    margin: 6px 0;
}

.article .more a {
    text-decoration: none;
    color: blue;
    padding: 0 12px;
}

.sidebar {
    margin: 0 6px;
    padding: 6px 0;
}

.sidebar .sign_box {
    margin: 0;
    padding: 6px;
    border: 1px solid var(--gray);
    border-radius: 8px;
}

.sidebar .sign_box span {
    font-weight: 600;
}

.sidebar .sign_box .signInBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sign_box .signInBox input {
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    background: var(--gray);
    padding: 6px;
    margin-top: 6px;
}

.sidebar .sign_box .signInBox input::placeholder {
    padding: 6px;
}

.sidebar .sign_box .signInBox a {
    color: var(--point-color);
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 600;
    align-self: flex-start;
    padding-top: 6px;
    padding-left: 6px;
}

.sidebar .sign_box .BtnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}

.BtnBox .signInBtn {
    border: 1px solid var(--point-color);
    border-radius: 12px;
    width: 100%;
    height: 1.5rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--point-color);
    text-align: center;
}

.BtnBox .signUpBtn {
    background-color: var(--point-color);
    border: 1px solid var(--point-color);
    border-radius: 12px;
    width: 100%;
    height: 1.5rem;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}